header{
    background-color: rgba(60, 60, 75, 0.8);
    height: 80px;
    width: 100%;
}

header h1{
    color: white;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 60px;
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li{
    display: inline;
    margin-right: 4vw;
}

header a{
    /* text-decoration: none  --> 去除超連結預設的底線 */
    text-decoration: none; 
    color: white;
}

header a:hover{
    /* text-decoration: underline  --> 鼠標移至上面時，顯示底線 */
    text-decoration: underline;
}

.banner{
    height: 95vh;
    background-image: url('./image/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h2{
    color: white;
    font-size: 60px;
}

.banner p{
    color: white;
    font-size: 20px;
    margin: 25px;
}

.foot{
    color: gray;
    font-size: 10px;
}